.Login {
  display: flex;
  height: 80%;

  &--form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    min-width: 320px;
    max-width: 720px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    input, button {
      margin: 10px 20px;
      padding: 5px 15px;
      line-height: 32px;
      font-size: 24px;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
    }

    button {
      cursor: pointer;
    }
  }
}